.body{
    display: flex;
    width: 300px;
    height: 300px;
    position: relative;
}

.body-box{
    width: 100px;
    height: 100px;
    
}

.body-box:nth-child(1){
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.body-box:nth-child(2){
    background-color: blue;
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 50px;
}

.body-box:nth-child(3){
    background-color: green;
   position: absolute;
   z-index: 1;
   left: 100px;
   top: 100px;
}